.list-container{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.list-container2{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.theList{

   min-width:88%;
   padding-left: 2%;
   color: white;
   
}

.icons{

    padding: 5px;
    color: white;
    
}
.pnormal{

    font-size: 20px;
}

.pstrike{

    font-size: 19px;
    text-decoration: line-through;
}